[submodule "esp/components/rc522"]
	path = esp/components/rc522
	url = https://github.com/kisbogdan-kolos/esp-idf-rc522.git
[submodule "esp/components/storage"]
	path = esp/components/storage
	url = https://github.com/kisbogdan-kolos/esp-storage.git
